#container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #F0F0F0;
}

body {
	margin: 0px;
}

#headline {
	position: absolute;
	width: 100%;
	height: 20%;
	background: #F0F0F0;
}

#headline h1 {
	font-size: 100px;
	text-align: center ;
	color: #000000;
    font-size: 500%;
    font-family: Tahoma, Geneva, sans-serif;

}

.tagline {
  font-size: 50px;
  text-align: left;
  color: #000000;
  padding-left: 1%;
}

.textbox {
  position: relative;
  float :right;
  margin-right: 2%;
  margin-top: 1%;
  border-radius: 25px;
  top : 20%;
  width: 45%;
  height: 75%;
  background: #DFDCE3;
  font-family: Tahoma, Geneva, sans-serif;
}

.text{
  font-size: 20px;
  padding-left: 1%;
}
