.container {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: #ACFFFF;
}

body {
	padding: 0px;
	margin: 0px;
	background-image: url("../images/newspaper.png");
}

#headline {
	position: absolute;
	width: 100%;
	height: 20%;
	background: #A7D9D7;
	box-shadow: 0px 5px 5px #888888;
}

#headline h1 {
	font-size: 100px;
	text-align: center ;
	color: #FFF;
  font-size: 500%;
  font-family: Tahoma, Geneva, sans-serif;
	-webkit-margin-before :0.35em;
}

.tagline {
  font-size: 50px;
  text-align: left;
  color: #C4FCFB;
  padding-left: 1%;
}

#urlbutton {
	position: absolute;
	top: 50%;
	width: 103px;
	height: 161px;
}
.leftbutton { left: 1.5%; background: url("../images/buttonleft1.png"); }
.leftbutton:hover{ background: url("../images/buttonleft2.png"); }
.leftbutton:active { background: url("../images/buttonleft3.png"); }

.rightbutton { right: 1.5%; background: url("../images/buttonright1.png"); }
.rightbutton:hover { background: url("../images/buttonright2.png"); }
.rightbutton:active { background: url("../images/buttonright3.png"); }

.textbox {
  padding: 2.5%;
  position: absolute;
  margin-right: 2%;
  margin-top: 1%;
  border-radius: 25px;
  top : 20%;
  width: 33%;
  background: #A7D9D7;
  font-family: Tahoma, Geneva, sans-serif;
  color: #FFFFFF;
}
#textbox2 { right:8%; }
#textbox1 { left:10%; }

.textbox:hover {
	background: #FF7200;
}

.textbox:active {
	background: #EE6100;
}

.text{
  font-size: 20px;
  padding-left: 1%;
}
