#container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #DEDEDE;
}
body {
	margin: 0px;
}
#headline { 
	position: absolute;
	width: 100%;
	height: 20%;
	background: #AAAAAA;
}
#headline h1 {
	font-size: 100px;
	text-align: center;
	color: #FF6633;
}
#slider {
	position: absolute;
	width: 100%;
	height: 80%;
	text-align: center;
}